In [2]:
# Connect DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)

print('Connect')

Connect

In [3]:
# max id

select = ' max(company_id) '
fromdb = 'jobstreet_raws' 
 
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` "    )
myresult = mycursor.fetchall()

counter = 1

for x in myresult:  
    words = x[0]   
    print(words)
      
    
    
counter = words + 1
print('done : ' + str(len(myresult)) + ' row(s)')
print(counter)

10558
done : 1 row(s)
10559

In [4]:
# make Company _id

select = ' company, city '
fromdb = 'jobstreet_raws'
where = ' where company_id is null '
group = ' GROUP by' + select
 
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()

for x in myresult:  
    company = x[0]  
    city = x[1]  
    print(' ')
    print(company)
    
    company_rep = company.replace("'", "\\'")
    city_rep = city.replace("'", "\\'")
    
    query = "UPDATE jobstreet_raws SET company_id = '" + str(counter)+"'   " 
    where = "  where company LIKE '" + company_rep + "'" 
    andwhere = "  and city LIKE '" + city_rep + "'" 
    
    print(query + where + andwhere)
    
    mycursor.execute(query + where + andwhere)
    mydb.commit()  
    
    counter += 1
    
    
print('done : ' + str(len(myresult)) + ' row(s)')

Macroad \u002F PT Solusi Sinergi Digital, Tbk
UPDATE jobstreet_raws SET company_id = '10559'     where company LIKE 'Macroad \u002F PT Solusi Sinergi Digital, Tbk'  and city LIKE 'Jakarta Raya'

PT Goldenindo Abra \u002F Sunny Paint
UPDATE jobstreet_raws SET company_id = '10560'     where company LIKE 'PT Goldenindo Abra \u002F Sunny Paint'  and city LIKE 'Jakarta Raya'

PT Square Gate One \u002F ESPAY.ID
UPDATE jobstreet_raws SET company_id = '10561'     where company LIKE 'PT Square Gate One \u002F ESPAY.ID'  and city LIKE 'Jakarta Barat'

PT Square Gate One \u002F ESPAY.ID
UPDATE jobstreet_raws SET company_id = '10562'     where company LIKE 'PT Square Gate One \u002F ESPAY.ID'  and city LIKE 'Tangerang'
done : 4 row(s)