In [16]:
# Connect to DB

host="localhost"
user="root"

host="192.168.100.3"
user="rootx"

import mysql.connector
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

entity = 'website' 

# set query 1
select = ' id, created_at, ' + entity
fromdb = 'jobstreet_raws'
where = ' '
group = ' '

connect

In [18]:
# ALTER TABLE `migrations` ADD `website` VARCHAR(255) NULL DEFAULT NULL AFTER `migration`; 

query = " ALTER TABLE `companies` ADD `"+entity+"` VARCHAR(255) NULL DEFAULT NULL BEFORE `created_at` "
mycursor.execute(query)
mydb.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'BEFORE `created_at`' at line 1

In [13]:
# insert new job_vacancies 

# set query 1
select = ' id, company_id, ' + entity 
fromdb = 'jobstreet_raws'
where = ' where company_id is not null '
group = ' group by ' + select
orderby = ' Order By company_id  ASC ' 
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group + orderby )
myresult = mycursor.fetchall()
  
print('Start and Please Wait..')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    comp_id = str(x[1])
    word = x[2]
#     print(word)
    
    words = idx + " - " + comp_id + " - " +  word
#     print(words)
     
    query3 = "UPDATE companies SET "+entity+" = Null where raw_id = " + comp_id + " "

    print(query3)
    mycursor.execute(query3)
    mydb.commit()  

    query4 = "UPDATE jobstreet_raws_rc SET "+entity+" = '--extracted--'   " 
    where4 = "  where id = '" + idx + "'"  
    print(query4 + where4)
    mycursor.execute(query4 + where4)
    mydb.commit()  
         
print('Done : ' + str(len(myresult)) + ' row(s)')

Start and Please Wait..
UPDATE companies SET website = Null where raw_id = 1

ProgrammingError: 1054 (42S22): Unknown column 'website' in 'field list'