In [5]:
# Connect to DB

host="localhost"
user="root"

# host="192.168.100.3"
# user="rootx"

import mysql.connector
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

connect

In [6]:

# set query 1
select = ' domain '
fromdb = 'jobstreet_raws_v2' 
where = '  group by domain '
orderby = '  order by domain ASC '
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + orderby )
myresult = mycursor.fetchall()

print('We start and please wait ...')
# loop query 1
for x in myresult:   
    word = x[0]   
    
#     print(word)   
    
    queryx = "INSERT INTO domains (nama) VALUES ('"+word+"' )"
    print(queryx)
    mycursor.execute(queryx)
    mydb.commit()   
    
    
print('done : ' + str(len(myresult)) + ' row(s)')

We start and please wait ...
INSERT INTO domains (nama) VALUES ('Akuntansi / Keuangan, Akuntansi Umum / Pembiayaan ' )
INSERT INTO domains (nama) VALUES ('Akuntansi / Keuangan, Audit & Pajak ' )
INSERT INTO domains (nama) VALUES ('Akuntansi / Keuangan, Keuangan / Investasi Perusahaan  ' )
INSERT INTO domains (nama) VALUES ('Akuntansi / Keuangan, Perbankan / Jasa Finansial  ' )
INSERT INTO domains (nama) VALUES ('Bangunan / Konstruksi, Arsitek / Desain Interior ' )
INSERT INTO domains (nama) VALUES ('Bangunan / Konstruksi, Properti / Real Estate ' )
INSERT INTO domains (nama) VALUES ('Bangunan / Konstruksi, Survei Kuantitas ' )
INSERT INTO domains (nama) VALUES ('Bangunan / Konstruksi, Teknik Sipil / Konstruksi Bangunan ' )
INSERT INTO domains (nama) VALUES ('Hotel / Restoran,  Hotel / Pariwisata ' )
INSERT INTO domains (nama) VALUES ('Hotel / Restoran, Makanan / Minuman / Pelayanan Restoran ' )
INSERT INTO domains (nama) VALUES ('Komputer / Teknologi Informasi, IT-Admin Jaringan / Sistem / Database ' )
INSERT INTO domains (nama) VALUES ('Komputer / Teknologi Informasi, IT-Perangkat Keras ' )
INSERT INTO domains (nama) VALUES ('Komputer / Teknologi Informasi, IT-Perangkat Lunak ' )
INSERT INTO domains (nama) VALUES ('Komputer / Teknologi Informasi, IT-Perangkat Lunak, IT-Admin Jaringan / Sistem / Database ' )
INSERT INTO domains (nama) VALUES ('Lainnya,  Jurnalis / Editor ' )
INSERT INTO domains (nama) VALUES ('Lainnya,  Penerbitan ' )
INSERT INTO domains (nama) VALUES ('Lainnya, Lainnya / Kategori tidak tersedia ' )
INSERT INTO domains (nama) VALUES ('Lainnya, Pekerjaan Umum ' )
INSERT INTO domains (nama) VALUES ('Layanan Kesehatan,  Diagnosa / Lainnya ' )
INSERT INTO domains (nama) VALUES ('Layanan Kesehatan,  Praktisi / Asisten Medis ' )
INSERT INTO domains (nama) VALUES ('Layanan Kesehatan, Farmasi ' )
INSERT INTO domains (nama) VALUES ('Manufaktur,  Kontrol Proses ' )
INSERT INTO domains (nama) VALUES ('Manufaktur,  Manufaktur ' )
INSERT INTO domains (nama) VALUES ('Manufaktur,  Pemeliharaan ' )
INSERT INTO domains (nama) VALUES ('Manufaktur,  Penjaminan Kualitas / QA ' )
INSERT INTO domains (nama) VALUES ('Manufaktur, Pembelian / Manajemen Material ' )
INSERT INTO domains (nama) VALUES ('Pelayanan,  Angkatan Bersenjata ' )
INSERT INTO domains (nama) VALUES ('Pelayanan,  Layanan Sosial / Konseling ' )
INSERT INTO domains (nama) VALUES ('Pelayanan,  Perawatan Pribadi ' )
INSERT INTO domains (nama) VALUES ('Pelayanan,  Teknikal & Bantuan Pelanggan ' )
INSERT INTO domains (nama) VALUES ('Pelayanan,  Teknikal & Bantuan Pelanggan, Komputer / Teknologi Informasi, IT-Admin Jaringan / Sistem / Database ' )
INSERT INTO domains (nama) VALUES ('Pelayanan, Layanan Pelanggan ' )
INSERT INTO domains (nama) VALUES ('Pelayanan, Logistik / Rantai Pasokan ' )
INSERT INTO domains (nama) VALUES ('Pelayanan, Pengacara / Asisten Legal ' )
INSERT INTO domains (nama) VALUES ('Pendidikan / Pelatihan,  Pelatihan & Pengembangan ' )
INSERT INTO domains (nama) VALUES ('Pendidikan / Pelatihan, Pendidikan ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran,  Merchandising ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran,  Penjualan - Jasa Keuangan ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran,  Penjualan - Korporasi ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran,  Penjualan - Korporasi, Pemasaran / Pengembangan Bisnis ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran,  Penjualan - Teknik / Teknikal / IT ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran,  Telesales / Telemarketing ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran, Digital Marketing ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran, E-commerce ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran, Pemasaran / Pengembangan Bisnis ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran, Penjualan Ritel ' )
INSERT INTO domains (nama) VALUES ('Penjualan / Pemasaran, Penjualan Ritel,  Penjualan - Korporasi ' )
INSERT INTO domains (nama) VALUES ('Sains,  Aktuaria / Statistik ' )
INSERT INTO domains (nama) VALUES ('Sains,  Biomedis ' )
INSERT INTO domains (nama) VALUES ('Sains,  Bioteknologi ' )
INSERT INTO domains (nama) VALUES ('Sains,  Geologi / Geofisika ' )
INSERT INTO domains (nama) VALUES ('Sains,  Kimia ' )
INSERT INTO domains (nama) VALUES ('Sains,  Penerbangan ' )
INSERT INTO domains (nama) VALUES ('Sains,  Sains & Teknologi ' )
INSERT INTO domains (nama) VALUES ('Sains,  Teknologi Makanan / Ahli Gizi ' )
INSERT INTO domains (nama) VALUES ('Sains, Pertanian ' )
INSERT INTO domains (nama) VALUES ('Seni / Media / Komunikasi,  Hiburan ' )
INSERT INTO domains (nama) VALUES ('Seni / Media / Komunikasi,  Hubungan Masyarakat ' )
INSERT INTO domains (nama) VALUES ('Seni / Media / Komunikasi,  Periklanan ' )
INSERT INTO domains (nama) VALUES ('Seni / Media / Komunikasi, Seni / Desain Kreatif ' )
INSERT INTO domains (nama) VALUES ('Sumber Daya Manusia / Personalia,  Top Management / Manajemen Tingkat Atas ' )
INSERT INTO domains (nama) VALUES ('Sumber Daya Manusia / Personalia, Sekretaris ' )
INSERT INTO domains (nama) VALUES ('Sumber Daya Manusia / Personalia, Staf / Administrasi umum ' )
INSERT INTO domains (nama) VALUES ('Sumber Daya Manusia / Personalia, Sumber Daya Manusia / HR ' )
INSERT INTO domains (nama) VALUES ('Teknik,  Mekanikal ' )
INSERT INTO domains (nama) VALUES ('Teknik,  Minyak / Gas ' )
INSERT INTO domains (nama) VALUES ('Teknik,  Teknik Elektro ' )
INSERT INTO domains (nama) VALUES ('Teknik,  Teknik Elektro,  Mekanikal ' )
INSERT INTO domains (nama) VALUES ('Teknik,  Teknik Elektronika ' )
INSERT INTO domains (nama) VALUES ('Teknik,  Teknik Industri ' )
INSERT INTO domains (nama) VALUES ('Teknik,  Teknik Lainnya ' )
INSERT INTO domains (nama) VALUES ('Teknik,  Teknik Lingkungan ' )
INSERT INTO domains (nama) VALUES ('Teknik, Teknik Kimia ' )
done : 73 row(s)