In [5]:
# Connect to DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

connect

In [6]:
# insert new job_vacancies 
# 2022-06-01
entity = 'why_join'

# set query 1
select = ' id, created_at, ' + entity
fromdb = 'jobstreet_raws'
where = ' '
group = ' ' 
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()
   
# loop query 1
for x in myresult:  
    idx = str(x[0])
    created_at = x[1]  
    word = x[2]   
    print(word)
    
    if(word == "null"):         
        #update extracted
        queryx = "UPDATE jobstreet_raws_v2 SET "+entity+" = Null   " 
        wherex = "  where id = '" + idx + "'"  
        print(queryx + wherex)
        mycursor.execute(queryx + wherex)
        mydb.commit()    
         
print('done : ' + str(len(myresult)) + ' row(s)')

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '21'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '22'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '23'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '24'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '25'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '26'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '27'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '28'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '29'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '30'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '31'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '32'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '33'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '34'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '35'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '36'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '37'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '38'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '39'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '40'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '41'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '42'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '43'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '44'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '45'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '46'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '47'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '48'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '49'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '50'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '51'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '52'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '53'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '54'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '55'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '56'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '57'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '58'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '59'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '60'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '61'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '62'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '63'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '64'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '65'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '66'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '67'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '68'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '69'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '70'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '71'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '72'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '73'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '74'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '75'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '76'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '77'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '78'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '79'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '80'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '81'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '82'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '83'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '84'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '85'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '86'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '87'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '88'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '89'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '90'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '91'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '92'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '93'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '94'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '95'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '96'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '97'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '98'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '99'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '191'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '370'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '561'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '769'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '975'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1177'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1374'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1579'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1762'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1979'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '1999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2171'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2371'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2568'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2764'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2953'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '2999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3146'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3333'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3522'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3722'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3915'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '3999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4100'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4277'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4468'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4659'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4861'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '4999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5053'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5256'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5445'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5631'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5823'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '5999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6014'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6207'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6407'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6592'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6778'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6973'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '6999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7167'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7364'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7565'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7763'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7962'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '7999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8162'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8364'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8543'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8750'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8949'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '8999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9152'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9352'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9558'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9760'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9943'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '9999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10135'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10338'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10541'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10736'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10930'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '10999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11144'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11326'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11522'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11723'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11929'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '11999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12115'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12320'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12503'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12700'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12896'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '12999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13095'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13296'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13491'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13698'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13877'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '13999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14068'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14268'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14475'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14687'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14888'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '14999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15099'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15276'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15485'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15692'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15899'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '15999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16098'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16306'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16512'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16694'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16856'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '16999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17058'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17261'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17463'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17664'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17872'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '17999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18054'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18252'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18453'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18611'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18641'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18817'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18841'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '18999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19010'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19041'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19184'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19217'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19372'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19416'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19542'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19611'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19612'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19613'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19614'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19615'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19616'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19617'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19618'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19619'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19620'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19621'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19622'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19623'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19624'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19625'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19626'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19627'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19628'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19629'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19630'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19631'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19632'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19633'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19634'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19635'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19636'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19637'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19638'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19639'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19640'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19641'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19642'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19643'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19644'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19645'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19646'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19647'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19648'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19649'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19650'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19651'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19652'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19653'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19654'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19655'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19656'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19657'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19658'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19659'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19660'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19661'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19662'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19663'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19664'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19665'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19666'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19667'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19668'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19669'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19670'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19671'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19672'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19673'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19674'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19675'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19676'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19677'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19678'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19679'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19680'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19681'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19682'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19683'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19684'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19685'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19686'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19687'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19688'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19689'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19690'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19691'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19692'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19693'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19694'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19695'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19696'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19697'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19698'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19699'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19700'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19701'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19702'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19703'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19704'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19705'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19706'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19707'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19708'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19709'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19710'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19711'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19712'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19713'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19714'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19715'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19716'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19717'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19718'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19719'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19720'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19721'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19722'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19723'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19724'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19725'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19726'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19727'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19728'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19729'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19730'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19731'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19732'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19733'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19734'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19735'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19736'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19737'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19738'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19739'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19740'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19741'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19742'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19743'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19744'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19745'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19746'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19747'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19748'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19749'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19750'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19751'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19752'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19753'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19754'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19755'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19756'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19757'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19758'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19759'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19760'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19761'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19762'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19763'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19764'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19765'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19766'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19767'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19768'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19769'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19770'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19771'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19772'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19773'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19774'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19775'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19776'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19777'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19778'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19779'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19780'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19781'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19782'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19783'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19784'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19785'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19786'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19787'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19788'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19789'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19790'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19791'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19792'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19793'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19794'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19795'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19796'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19797'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19798'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19799'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19800'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19801'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19802'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19803'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19804'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19805'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19806'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19807'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19808'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19809'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19810'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19811'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19812'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19813'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19814'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19815'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19816'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19817'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19818'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19819'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19820'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19821'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19822'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19823'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19824'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19825'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19826'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19827'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19828'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19829'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19830'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19831'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19832'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19833'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19834'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19835'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19836'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19837'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19838'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19839'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19840'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19841'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19842'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19843'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19844'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19845'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19846'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19847'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19848'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19849'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19850'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19851'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19852'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19853'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19854'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19855'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19856'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19857'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19858'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19859'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19860'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19861'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19862'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19863'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19864'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19865'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19866'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19867'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19868'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19869'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19870'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19871'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19872'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19873'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19874'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19875'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19876'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19877'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19878'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19879'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19880'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19881'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19882'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19883'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19884'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19885'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19886'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19887'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19888'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19889'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19890'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19891'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19892'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19893'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19894'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19895'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19896'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19897'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19898'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19899'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19900'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19901'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19902'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19903'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19904'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19905'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19906'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19907'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19908'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19909'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19910'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19911'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19912'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19913'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19914'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19915'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19916'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19917'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19918'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19919'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19920'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19921'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19922'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19923'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19924'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19925'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19926'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19927'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19928'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19929'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19930'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19931'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19932'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19933'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19934'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19935'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19936'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19937'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19938'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19939'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19940'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19941'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19942'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19943'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19944'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19945'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19946'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19947'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19948'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19949'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19950'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19951'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19952'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19953'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19954'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19955'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19956'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19957'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19958'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19959'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19960'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19961'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19962'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19963'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19964'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19965'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19966'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19967'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19968'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19969'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19970'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19971'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19972'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19973'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19974'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19975'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19976'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19977'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19978'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19979'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19980'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19981'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19982'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19983'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19984'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19985'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19986'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19987'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19988'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19989'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19990'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19991'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19992'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19993'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19994'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19995'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19996'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19997'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19998'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '19999'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20000'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20001'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20002'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20003'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20004'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20005'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20006'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20007'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20008'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20009'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20010'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20011'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20012'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20013'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20014'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20015'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20016'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20017'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20018'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20019'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20020'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20021'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20022'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20023'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20024'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20025'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20026'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20027'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20028'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20029'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20030'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20031'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20032'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20033'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20034'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20035'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20036'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20037'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20038'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20039'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20040'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20041'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20042'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20043'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20044'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20045'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20046'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20047'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20048'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20049'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20050'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20051'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20052'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20053'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20054'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20055'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20056'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20057'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20058'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20059'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20060'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20061'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20062'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20063'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20064'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20065'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20066'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20067'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20068'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20069'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20070'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20071'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20072'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20073'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20074'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20075'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20076'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20077'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20078'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20079'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20080'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20081'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20082'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20083'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20084'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20085'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20086'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20087'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20088'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20089'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20090'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20091'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20092'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20093'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20094'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20095'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20096'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20097'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20098'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20099'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20100'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20101'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20102'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20103'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20104'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20105'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20106'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20107'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20108'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20109'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20110'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20111'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20112'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20113'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20114'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20115'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20116'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20117'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20118'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20119'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20120'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20121'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20122'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20123'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20124'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20125'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20126'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20127'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20128'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20129'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20130'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20131'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20132'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20133'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20134'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20135'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20136'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20137'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20138'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20139'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20140'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20141'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20142'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20143'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20144'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20145'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20146'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20147'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20148'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20149'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20150'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20151'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20152'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20153'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20154'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20155'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20156'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20157'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20158'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20159'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20160'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20161'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20162'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20163'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20164'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20165'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20166'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20167'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20168'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20169'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20170'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20171'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20172'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20173'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20174'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20175'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20176'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20177'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20178'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20179'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20180'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20181'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20182'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20183'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20184'
null

UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20185'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20186'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20187'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20188'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20189'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20190'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20191'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20192'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20193'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20194'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20195'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20196'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20197'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20198'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20199'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20200'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20201'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20202'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20203'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20204'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20205'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20206'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20207'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20208'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20209'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20210'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20211'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20212'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20213'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20214'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20215'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20216'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20217'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20218'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20219'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20220'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20221'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20222'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20223'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20224'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20225'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20226'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20227'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20228'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20229'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20230'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20231'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20232'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20233'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20234'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20235'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20236'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20237'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20238'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20239'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20240'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20241'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20242'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20243'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20244'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20245'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20246'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20247'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20248'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20249'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20250'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20251'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20252'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20253'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20254'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20255'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20256'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20257'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20258'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20259'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20260'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20261'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20262'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20263'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20264'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20265'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20266'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20267'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20268'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20269'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20270'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20271'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20272'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20273'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20274'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20275'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20276'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20277'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20278'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20279'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20280'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20281'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20282'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20283'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20284'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20285'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20286'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20287'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20288'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20289'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20290'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20291'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20292'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20293'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20294'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20295'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20296'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20297'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20298'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20299'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20300'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20301'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20302'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20303'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20304'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20305'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20306'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20307'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20308'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20309'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20310'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20311'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20312'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20313'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20314'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20315'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20316'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20317'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20318'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20319'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20320'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20321'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20322'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20323'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20324'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20325'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20326'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20327'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20328'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20329'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20330'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20331'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20332'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20333'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20334'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20335'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20336'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20337'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20338'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20339'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20340'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20341'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20342'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20343'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20344'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20345'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20346'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20347'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20348'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20349'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20350'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20351'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20352'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20353'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20354'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20355'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20356'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20357'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20358'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20359'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20360'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20361'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20362'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20363'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20364'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20365'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20366'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20367'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20368'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20369'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20370'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20371'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20372'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20373'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20374'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20375'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20376'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20377'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20378'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20379'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20380'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20381'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20382'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20383'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20384'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20385'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20386'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20387'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20388'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20389'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20390'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20391'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20392'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20393'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20394'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20395'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20396'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20397'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20398'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20399'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20400'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20401'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20402'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20403'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20404'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20405'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20406'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20407'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20408'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20409'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20410'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20411'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20412'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20413'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20414'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20415'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20416'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20417'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20418'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20419'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20420'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20421'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20422'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20423'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20424'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20425'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20426'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20427'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20428'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20429'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20430'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20431'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20432'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20433'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20434'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20435'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20436'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20437'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20438'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20439'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20440'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20441'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20442'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20443'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20444'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20445'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20446'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20447'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20448'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20449'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20450'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20451'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20452'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20453'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20454'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20455'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20456'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20457'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20458'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20459'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20460'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20461'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20462'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20463'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20464'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20465'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20466'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20467'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20468'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20469'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20470'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20471'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20472'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20473'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20474'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20475'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20476'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20477'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20478'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20479'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20480'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20481'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20482'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20483'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20484'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20485'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20486'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20487'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20488'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20489'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20490'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20491'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20492'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20493'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20494'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20495'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20496'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20497'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20498'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20499'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20500'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20501'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20502'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20503'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20504'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20505'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20506'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20507'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20508'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20509'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20510'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20511'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20512'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20513'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20514'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20515'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20516'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20517'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20518'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20519'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20520'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20521'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20522'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20523'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20524'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20525'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20526'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20527'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20528'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20529'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20530'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20531'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20532'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20533'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20534'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20535'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20536'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20537'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20538'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20539'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20540'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20541'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20542'

null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20543'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20544'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20545'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20546'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20547'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20548'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20549'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20550'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20551'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20552'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20553'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20554'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20555'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20556'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20557'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20558'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20559'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20560'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20561'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20562'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20563'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20564'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20565'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20566'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20567'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20568'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20569'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20570'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20571'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20572'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20573'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20574'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20575'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20576'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20577'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20578'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20579'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20580'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20581'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20582'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20583'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20584'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20585'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20586'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20587'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20588'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20589'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20590'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20591'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20592'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20593'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20594'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20595'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20596'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20597'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20598'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20599'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20600'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20601'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20602'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20603'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20604'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20605'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20606'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20607'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20608'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20609'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20610'
null
UPDATE jobstreet_raws_v2 SET why_join = Null     where id = '20611'
done : 20611 row(s)