In [1]:
# Connect to DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

entity = 'company'

connect

In [11]:
# insert new job_vacancies 
# 2022-06-01

# set query 1
select = ' id, created_at, ' + entity
fromdb = 'jobstreet_raws'
where = ' '
group = ' ' 
orderby = ' Order By ' + entity + ' Asc ' 
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group + orderby  )
myresult = mycursor.fetchall()

print('Please start and wait ...')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    created_at = x[1]  
    word_1 = x[2].title()  
    word_2 = word_1.replace("Pt. ", "Pt ")  
    word_3 = word_2.replace("Pt ", "PT ")   
    word_4 = word_3.replace("Pt", "PT")   
    word_5 = word_4.replace("Cv ", "CV ")  
    word_6 = word_5.replace("\u002F ", "/")  
    word_7 = word_6.replace("\\'", "'") 
    word_8 = word_7.replace("\'", "'") 
    word = word_8.replace("'", "\\'") 
#     print(word)
      
    #update extracted
    queryx = "UPDATE jobstreet_raws_v2 SET "+entity+" = '"+word+"'   " 
    wherex = "  where id = " + idx + " "  
#     print(queryx + wherex)
    mycursor.execute(queryx + wherex)
    mydb.commit()    
         
print('done : ' + str(len(myresult)) + ' row(s)')

Please start and wait ...
done : 20611 row(s)

In [14]:
# insert new job_vacancies 
# 2022-06-01

# set query 1
select = ' id, created_at, ' + entity + ', city, address '
fromdb = 'jobstreet_raws'
where = ' where company_id is null '
group = ' ' 
orderby = ' Order By ' + entity + ' Asc ' 
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group + orderby  )
myresult = mycursor.fetchall()

print('Please start and wait ...')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    created_at = x[1]  
    word = x[2] 
    
    city = x[3] 
    address = x[4] 
    
    words = word + " // " + address + " // " + city  
    print(words)
       
         
print('done : ' + str(len(myresult)) + ' row(s)')

Please start and wait ...
Macroad \u002F PT Solusi Sinergi Digital, Tbk //  // Jakarta Raya
Macroad \u002F PT Solusi Sinergi Digital, Tbk //  // Jakarta Raya
Macroad \u002F PT Solusi Sinergi Digital, Tbk //  // Jakarta Raya
Macroad \u002F PT Solusi Sinergi Digital, Tbk //  // Jakarta Raya
Macroad \u002F PT Solusi Sinergi Digital, Tbk //  // Jakarta Raya
Macroad \u002F PT Solusi Sinergi Digital, Tbk //  // Jakarta Raya
Macroad \u002F PT Solusi Sinergi Digital, Tbk //  // Jakarta Raya
PT Goldenindo Abra \u002F Sunny Paint // Jakarta Utara // Jakarta Raya
PT Square Gate One \u002F ESPAY.ID // Alam Sutera // Tangerang
PT Square Gate One \u002F ESPAY.ID //  // Jakarta Barat
PT Square Gate One \u002F ESPAY.ID // Alam Sutera // Tangerang
PT Square Gate One \u002F ESPAY.ID //  // Tangerang
PT Square Gate One \u002F ESPAY.ID // Alam Sutera // Tangerang
PT Square Gate One \u002F ESPAY.ID // Alam Sutera // Tangerang
done : 14 row(s)