In [8]:
# Connect to DB

host="localhost"
user="root"

host="192.168.100.3"
user="rootx"

import mysql.connector
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

entity = 'career_level'

# set query 1
select = ' id, created_at, ' + entity
fromdb = 'jobstreet_raws'
where = ' '
group = ' '

connect

In [6]:
# check distinct
group = ' Group By ' +  entity
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()

print('We start and please wait ...')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    created_at = x[1]  
    word_1 = x[2]
    word = word_1.replace("\\u002F", " / ")    
    print(word) 
    
#     queryx = "insert into career_levels (nama) values ('"+word+"')  "  
#     print(queryx)
#     mycursor.execute(queryx)
#     mydb.commit()    
    
print('done : ' + str(len(myresult)) + ' row(s)')

We start and please wait ...
CEO / GM / Direktur / Manajer Senior
insert into career_levels (nama) values ('CEO / GM / Direktur / Manajer Senior')
Lulusan baru / Pengalaman kerja kurang dari 1 tahun
insert into career_levels (nama) values ('Lulusan baru / Pengalaman kerja kurang dari 1 tahun')
Manajer / Asisten Manajer
insert into career_levels (nama) values ('Manajer / Asisten Manajer')
Non-Eksekutif
insert into career_levels (nama) values ('Non-Eksekutif')
Pegawai (non-manajemen & non-supervisor)
insert into career_levels (nama) values ('Pegawai (non-manajemen & non-supervisor)')
Supervisor / Koordinator
insert into career_levels (nama) values ('Supervisor / Koordinator')
done : 6 row(s)

In [ ]:
group = ' '

# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()
  
# set query 2
select_v2 = ' id, nama '
fromdb_v2 = 'career_levels'
where_v2 = ' where nama like ' 

print('Please start and wait ...')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    created_at = x[1]  
    word = x[2].replace("\\u002F", " / ")    
#     print(word)
    
    query = "SELECT " + select_v2 + " FROM `" + fromdb_v2 + "` " + where_v2 + "'%" + word + "%'"
     
    mycursor2 = mydb.cursor()
    mycursor2.execute(query)
    myresult2 = mycursor2.fetchall()
    
    for y in myresult2:   
        idy = str(y[0])
         
        queryx = "UPDATE jobstreet_raws_v2 SET "+entity+" = '"+idy+"'   " 
        wherex = "  where id = '" + idx + "'"  
#         print(queryx + wherex)
        mycursor.execute(queryx + wherex)
        mydb.commit()    
         
print('done : ' + str(len(myresult)) + ' row(s)')

In [6]:
# set quality control data
select = entity
fromdb = 'jobstreet_raws_v2'
where = ' '
group = ' group by ' + entity 

# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()
   

print('Please start and wait ...')
# loop query 1
for x in myresult: 
    word = x[0]    
    print(word) 
         
print('done : ' + str(len(myresult)) + ' row(s)')

Please start and wait ...
4
5
CEO\u002FGM\u002FDirektur\u002FManajer Senior
Lulusan baru\u002FPengalaman kerja kurang dari 1 tahun
Manajer\u002FAsisten Manajer
Supervisor\u002FKoordinator
done : 6 row(s)