In [22]:
# Connect DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)

mycursor = mydb.cursor()

print('connect')

connect

In [23]:
select = ' id, title '
fromdb = 'jobstreet_raws_rc' 
where = ' '
group = ' ' 
orderby = ' order by id asc ' 
 
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group + orderby  )
myresult = mycursor.fetchall()

for x in myresult:    
    ids = str(x[0]) 
    title_rep = replace(x[1], r"", "\U002F")
    title = title_rep.strip().title()   
    print(ids + " " + title_rep)
#     sql = "INSERT INTO job_vacancies (title, created_at) VALUES (REPLACE("+title+", '\U002F', '') , now())"
#     mycursor.execute(sql)
#     mydb.commit()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 3-8: truncated \UXXXXXXXX escape (2841773592.py, line 15)