In [5]:
# Connect DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)

In [ ]:
# clean career_level

select = ' career_level '
fromdb = 'jobstreet_raws'
where = '  '
group = ' GROUP by' + select

mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()

counter = 1

for x in myresult:  
    words = x[0] 
    words_rep = words.replace("\u002F", " / ")
    print(words_rep)
    
#     CEO\u002FGM\u002FDirektur\u002FManajer Senior
#     Lulusan baru\u002FPengalaman kerja kurang dari 1 tahun
#     Manajer\u002FAsisten Manajer
#     Non-Eksekutif
#     Pegawai (non-manajemen & non-supervisor)
#     Supervisor\u002FKoordinator

#     query = "UPDATE jobstreet_raws SET career_level = '" + str(words_rep)+"'   " 
#     where = "  where career_level LIKE '" + words + "'"  
#     print(query + where)
#     mycursor.execute(query + where )
#     mydb.commit()

CEO\u002FGM\u002FDirektur\u002FManajer Senior
UPDATE jobstreet_raws SET career_level = 'CEO\u002FGM\u002FDirektur\u002FManajer Senior'     where career_level LIKE 'CEO\u002FGM\u002FDirektur\u002FManajer Senior'
Lulusan baru\u002FPengalaman kerja kurang dari 1 tahun
UPDATE jobstreet_raws SET career_level = 'Lulusan baru\u002FPengalaman kerja kurang dari 1 tahun'     where career_level LIKE 'Lulusan baru\u002FPengalaman kerja kurang dari 1 tahun'