In [2]:
# Connect to DB

host="localhost"
user="root"

# host="192.168.100.3"
# user="rootx"

import mysql.connector
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

connect

In [3]:
check_word = 'e-commerce'
change_word = 'ecommerce'   

# set query 1
select = ' id, nama '
fromdb = 'title_very_raws' 
where = " where nama like '%"+check_word+"%'   "
orderby = '  order by nama ASC '
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + orderby )
myresult = mycursor.fetchall()

print('We start and please wait ...')
# loop query 1
for x in myresult:  
    
    idx = str(x[0]) 
    word = x[1].replace(check_word, change_word)   
      
    word = word.replace(check_word, change_word)
    word = word.strip()
    queryx = "UPDATE title_very_raws  SET nama = '"+word+"'   where id = '"+idx+"'    " 
    print(queryx)
        #         mycursor.execute(queryx)
#         mydb.commit()   
         
    
    
print('done : ' + str(len(myresult)) + ' row(s)')

We start and please wait ...
UPDATE title_very_raws  SET nama = 'account executive ecommerce & marketplace'   where id = '97'
UPDATE title_very_raws  SET nama = 'admin ecommerce'   where id = '439'
UPDATE title_very_raws  SET nama = 'admin ecommerce'   where id = '440'
UPDATE title_very_raws  SET nama = 'admin ecommerce'   where id = '441'
UPDATE title_very_raws  SET nama = 'admin sales & ecommerce officer'   where id = '584'
UPDATE title_very_raws  SET nama = 'admin sales ecommerce'   where id = '588'
UPDATE title_very_raws  SET nama = 'business executive ecommerce'   where id = '1825'
UPDATE title_very_raws  SET nama = 'business intelligence developer ecommerce'   where id = '1835'
UPDATE title_very_raws  SET nama = 'data engineer ecommerce'   where id = '2938'
UPDATE title_very_raws  SET nama = 'design graphics grafis ecommerce'   where id = '3031'
UPDATE title_very_raws  SET nama = 'digital ecommerce & live streamer'   where id = '3118'
UPDATE title_very_raws  SET nama = 'digital marketing, host live stream, ecommerce specialist, promotor toko'   where id = '3165'
UPDATE title_very_raws  SET nama = 'ecommerce'   where id = '3374'
UPDATE title_very_raws  SET nama = 'ecommerce /  online marketing /  marketing'   where id = '3393'
UPDATE title_very_raws  SET nama = 'ecommerce & social media marketing'   where id = '3375'
UPDATE title_very_raws  SET nama = 'ecommerce admin'   where id = '3376'
UPDATE title_very_raws  SET nama = 'ecommerce executive'   where id = '3377'
UPDATE title_very_raws  SET nama = 'ecommerce head'   where id = '3378'
UPDATE title_very_raws  SET nama = 'ecommerce head /  manager'   where id = '3379'
UPDATE title_very_raws  SET nama = 'ecommerce manager'   where id = '3380'
UPDATE title_very_raws  SET nama = 'ecommerce marketing analyst'   where id = '3381'
UPDATE title_very_raws  SET nama = 'ecommerce merchandiser'   where id = '3382'
UPDATE title_very_raws  SET nama = 'ecommerce operation supervisor'   where id = '3383'
UPDATE title_very_raws  SET nama = 'ecommerce sales & marketing manager'   where id = '3384'
UPDATE title_very_raws  SET nama = 'ecommerce specialist'   where id = '3385'
UPDATE title_very_raws  SET nama = 'ecommerce specialist /  online marketing /  marketing'   where id = '3387'
UPDATE title_very_raws  SET nama = 'ecommerce specialist & marketplace'   where id = '3386'
UPDATE title_very_raws  SET nama = 'ecommerce spesialist f&b for online store'   where id = '3388'
UPDATE title_very_raws  SET nama = 'ecommerce staff'   where id = '3389'
UPDATE title_very_raws  SET nama = 'ecommerce staff'   where id = '3390'
UPDATE title_very_raws  SET nama = 'ecommerce store operations'   where id = '3391'
UPDATE title_very_raws  SET nama = 'ecommerce supervisor'   where id = '3392'
UPDATE title_very_raws  SET nama = 'full stack developer ecommerce'   where id = '4487'
UPDATE title_very_raws  SET nama = 'head of ecommerce'   where id = '4852'
UPDATE title_very_raws  SET nama = 'host live streaming ecommerce'   where id = '4981'
UPDATE title_very_raws  SET nama = 'innisfree ecommerce executive'   where id = '5446'
UPDATE title_very_raws  SET nama = 'marketplace and ecommerce supervisor'   where id = '7388'
UPDATE title_very_raws  SET nama = 'sales ecommerce'   where id = '9945'
UPDATE title_very_raws  SET nama = 'social media & ecommerce specialist'   where id = '11362'
UPDATE title_very_raws  SET nama = 'staff ecommerce tangcity'   where id = '11756'
UPDATE title_very_raws  SET nama = 'store operations ecommerce'   where id = '12152'
UPDATE title_very_raws  SET nama = 'supervisor ecommerce'   where id = '12270'
done : 42 row(s)

In [5]:
check_word = ' e commerce'
change_word = ' ecommerce'   

# set query 1
select = ' id, nama '
fromdb = 'title_very_raws' 
where = " where nama like '%"+check_word+"%'   "
orderby = '  order by nama ASC '
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + orderby )
myresult = mycursor.fetchall()

print('We start and please wait ...')
# loop query 1
for x in myresult:  
    
    idx = str(x[0]) 
    word = x[1].replace(check_word, change_word)   
      
    word = word.replace(check_word, change_word)
    word = word.strip()
    queryx = "UPDATE title_very_raws  SET nama = '"+word+"'   where id = '"+idx+"'    " 
    print(queryx)
    mycursor.execute(queryx)
    mydb.commit()   
         
    
    
print('done : ' + str(len(myresult)) + ' row(s)')

We start and please wait ...
UPDATE title_very_raws  SET nama = 'admin ecommerce'   where id = '438'
UPDATE title_very_raws  SET nama = 'buyer ecommerce manager'   where id = '1898'
UPDATE title_very_raws  SET nama = 'sales ecommerce'   where id = '9943'
UPDATE title_very_raws  SET nama = 'sales ecommerce - jakarta'   where id = '9944'
done : 4 row(s)

In [8]:
check_word = ' e-commerce'
change_word = ' ecommerce'   

# set query 1
select = ' id, nama '
fromdb = 'title_very_raws' 
where = " where nama like '%"+check_word+"%'   "
orderby = '  order by nama ASC '
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + orderby )
myresult = mycursor.fetchall()

print('We start and please wait ...')
# loop query 1
for x in myresult:  
    
    idx = str(x[0]) 
    word = x[1].replace(check_word, change_word)   
       
    queryx = "UPDATE title_very_raws  SET nama = '"+word+"'   where id = '"+idx+"'    " 
    print(queryx)
    mycursor.execute(queryx)
    mydb.commit()   
         
    
    
print('done : ' + str(len(myresult)) + ' row(s)')

We start and please wait ...
UPDATE title_very_raws  SET nama = 'account executive ecommerce & marketplace'   where id = '97'
UPDATE title_very_raws  SET nama = 'admin ecommerce'   where id = '439'
UPDATE title_very_raws  SET nama = 'admin ecommerce'   where id = '440'
UPDATE title_very_raws  SET nama = 'admin ecommerce '   where id = '441'
UPDATE title_very_raws  SET nama = 'admin sales & ecommerce officer'   where id = '584'
UPDATE title_very_raws  SET nama = 'admin sales ecommerce'   where id = '588'
UPDATE title_very_raws  SET nama = 'business executive ecommerce'   where id = '1825'
UPDATE title_very_raws  SET nama = 'business intelligence developer ecommerce'   where id = '1835'
UPDATE title_very_raws  SET nama = 'data engineer ecommerce'   where id = '2938'
UPDATE title_very_raws  SET nama = 'design graphics grafis ecommerce'   where id = '3031'
UPDATE title_very_raws  SET nama = 'digital ecommerce & live streamer'   where id = '3118'
UPDATE title_very_raws  SET nama = 'digital marketing, host live stream, ecommerce specialist, promotor toko'   where id = '3165'
UPDATE title_very_raws  SET nama = 'full stack developer ecommerce'   where id = '4487'
UPDATE title_very_raws  SET nama = 'head of ecommerce'   where id = '4852'
UPDATE title_very_raws  SET nama = 'host live streaming ecommerce'   where id = '4981'
UPDATE title_very_raws  SET nama = 'innisfree ecommerce executive'   where id = '5446'
UPDATE title_very_raws  SET nama = 'marketplace and ecommerce supervisor '   where id = '7388'
UPDATE title_very_raws  SET nama = 'sales ecommerce'   where id = '9945'
UPDATE title_very_raws  SET nama = 'social media & ecommerce specialist'   where id = '11362'
UPDATE title_very_raws  SET nama = 'staff ecommerce tangcity'   where id = '11756'
UPDATE title_very_raws  SET nama = 'store operations ecommerce'   where id = '12152'
UPDATE title_very_raws  SET nama = 'supervisor ecommerce'   where id = '12270'
done : 22 row(s)