In [5]:
# Connect to DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

connect

In [6]:
# insert new job_vacancies 
# 2022-06-01
entity = 'experience'

# set query 1
select = ' id, created_at, ' + entity
fromdb = 'jobstreet_raws'
where = ' '
group = ' ' 
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()

print('Please start and wait ...')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    created_at = x[1]  
    word_temp = x[2]   
    word = word_temp.replace(" tahun", "")
#     print(word)
         
    #update extracted
    queryx = "UPDATE jobstreet_raws_v2 SET "+entity+" = "+word+"   " 
    wherex = "  where id = '" + idx + "'"  
        print(queryx + wherex)
    mycursor.execute(queryx + wherex)
    mydb.commit()    
         
print('Done : ' + str(len(myresult)) + ' row(s)')

Please start and wait ...

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'where id = '3'' at line 1