In [1]:
# Connect to DB

host="localhost"
user="root"

# host="192.168.100.3"
# user="rootx"

import mysql.connector
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

entity = 'salary_currency'
entity_db = 'salary_currencies'

# set query 1
select = ' id, created_at, ' + entity
fromdb = 'jobstreet_raws'
where = ' '
group = ' '

connect

In [6]:

# query 1 
mycursor.execute("TRUNCATE TABLE `"+entity_db+"`  ")  
mydb.commit()    
print('Done')

Done

In [7]:
# check distinct 
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM `"+entity_db+"` ")
myresult = mycursor.fetchall()

print('We start and please wait ...')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    word = x[1]   
    print(word) 
     
    
print('done : ' + str(len(myresult)) + ' row(s)')

We start and please wait ...
done : 0 row(s)

In [8]:
# check distinct
group = ' Group By ' +  entity
orderby = ' Order By '+entity+' Asc'
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()

print('We start and please wait ...')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    created_at = x[1]  
    word_1 = x[2]
    word = word_1  
    print(word) 
    
    queryx = "insert into "+entity_db+" (nama) values ('"+word+"')  "  
    print(queryx)
    mycursor.execute(queryx)
    mydb.commit()    
    
print('done : ' + str(len(myresult)) + ' row(s)')

We start and please wait ...
HKD
insert into salary_currencies (nama) values ('HKD')
IDR
insert into salary_currencies (nama) values ('IDR')
MYR
insert into salary_currencies (nama) values ('MYR')
PHP
insert into salary_currencies (nama) values ('PHP')
SGD
insert into salary_currencies (nama) values ('SGD')
USD
insert into salary_currencies (nama) values ('USD')
done : 6 row(s)

In [11]:
group = ' '

# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()
  
# set query 2
select_v2 = ' id, nama '
fromdb_v2 = entity_db 
where_v2 = ' where nama like ' 

print('Please start and wait ...')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    created_at = x[1]  
    word = x[2].replace("\\u002F", " / ")    
#     print(word)
    
    query = "SELECT " + select_v2 + " FROM `" + fromdb_v2 + "` " + where_v2 + "'%" + word + "%'"
     
    mycursor2 = mydb.cursor()
    mycursor2.execute(query)
    myresult2 = mycursor2.fetchall()
    
    for y in myresult2:   
        idy = str(y[0])
         
        queryx = "UPDATE jobstreet_raws_v2 SET "+entity+" = '"+idy+"'   " 
        wherex = "  where id = '" + idx + "'"  
#         print(queryx + wherex)
        mycursor.execute(queryx + wherex)
        mydb.commit()    
         
print('done : ' + str(len(myresult)) + ' row(s)')

Please start and wait ...
done : 20611 row(s)

In [2]:
# set quality control data
select = entity
fromdb = 'jobstreet_raws_v2'
where = ' '
group = ' group by ' + entity 

# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()
   

print('Please start and wait ...')
# loop query 1
for x in myresult: 
    word = x[0]    
    print(word) 
         
print('done : ' + str(len(myresult)) + ' row(s)')

Please start and wait ...
1
2
3
4
5
6
done : 6 row(s)