In [1]:
# Connect DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)

mycursor = mydb.cursor()

print('connect')

connect

In [2]:
select = ' employment_type '
fromdb = 'jobstreet_raws' 
where = ' '
group = ' GROUP by' + select
 
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()

for x in myresult:  
    industry = x[0]   
    print(industry)

Kontrak
Magang
Paruh Waktu
Penuh Waktu
Penuh Waktu, Kontrak
Penuh Waktu, Magang
Temporer