In [1]:
# Connect DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)

mycursor = mydb.cursor()

print('connect')

connect

In [2]:
select = ' career_level '
fromdb = 'jobstreet_raws' 
where = ' '
group = ' GROUP by' + select
 
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()

for x in myresult:  
    industry = x[0]   
    print(industry)

CEO\u002FGM\u002FDirektur\u002FManajer Senior
Lulusan baru\u002FPengalaman kerja kurang dari 1 tahun
Manajer\u002FAsisten Manajer
Non-Eksekutif
Pegawai (non-manajemen & non-supervisor)
Supervisor\u002FKoordinator