In [7]:
# Connect DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)

In [8]:
# Insert Company

select = ' company, company_size '
fromdb = 'jobstreet_raws'
where = ' WHERE group by' + select
 
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where )
myresult = mycursor.fetchall()

for x in myresult:  
    words = x[0] + " " + x[1]   
    print(words)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'group by   company, company_size' at line 1